* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f2f2f2;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
}

.header-right a {
    margin: 0px 10px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: aqua;
}

/* Header Media Query */
@media screen and (max-width: 600px) {
    .nav {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

/* Hero Section */

.hero-section {
    display: flex;
    padding: 30px 10px;
    align-items: center;
    min-height: 50vh;
    gap: 25px;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-left img {
    max-width: 600px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

/* HERO SECTION MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .hero-left img {
        max-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-right {
        align-items: center;
    }
    .hero-right p {
        text-align: center;
    }
}

/* PORTFOLIO SECTION */
.portfolio-section,
.portfolio-section-grid {
    padding: 40px 10px;
}
.portfolio-section h2 {
    text-align: center;
    font-size: 30px;
}
.cards {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    width: 300px;
    height: 200px;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-grid {
    width: 100%;
    height: 200px;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Subscribe */
.subscribe-section {
    padding: 50px 10px;
}

.subscribe {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        to right,
        rgba(2, 0, 36, 1),
        rgba(0, 212, 255, 1)
    );
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    background-color: white;
    display: flex;
    gap: 0;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.input-group input {
    border: none;
    outline: none;
    padding: 0px 10px;
    height: 100%;
}

.input-group button {
    border: none;
    height: 100%;
    padding: 10px;
    background-color: crimson;
    color: white;
}

@media screen and (max-width: 768px) {
    .subscribe {
        flex-direction: column;
		gap: 20px;
		text-align: center;
    }
}
